fastapi
uvicorn[standard]
nest-asyncio
langchain
langchain-community
langchain-ollama
langchain-google-genai
langchain_chroma
chromadb
python-dotenv
beautifulsoup4
requests
pandas
aiohttp
trafilatura
ddgs
